@model JobZoom.Business.Entities.Profile_Basic
@{
    ViewBag.Title = "Basic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#Birthdate").datepicker({ dateFormat: "mm/dd/yy" });
    });    
</script>

<h1><span class="title">Basic Information</span> <span class="subtitle"></span></h1>

@Html.ActionLink("1.Basic information", "Basic", "ProfileEdit") |
@Html.ActionLink("2.Education", "Education", "ProfileEdit") |
@Html.ActionLink("3.Work experience", "Work", "ProfileEdit")

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<input id="hidden-userid" type="hidden" userid="@User.Identity.Name" />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <table width="100%">
            <tr>
                <td style="width:50%">
                    @Html.HiddenFor(model => model.ProfileBasicId)
                    <div class="editor-field">
                        @Html.HiddenFor(model => model.UserId)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FirstName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LastName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Gender)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Gender")
                        @Html.ValidationMessageFor(model => model.Gender)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Birthdate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Birthdate)
                        @Html.ValidationMessageFor(model => model.Birthdate)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.MaritalStatus)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("MaritalStatus")
                        @Html.ValidationMessageFor(model => model.MaritalStatus)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ProfilePictureUrl)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ProfilePictureUrl)
                        @Html.ValidationMessageFor(model => model.ProfilePictureUrl)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AddressLine1)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.AddressLine1)
                        @Html.ValidationMessageFor(model => model.AddressLine1)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AddressLine2)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.AddressLine2)
                        @Html.ValidationMessageFor(model => model.AddressLine2)
                    </div>
                </td>
                <td style="width:50%">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Country)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Country")
                        @Html.ValidationMessageFor(model => model.Country)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.City)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("City")
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ZipCode)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ZipCode)
                        @Html.ValidationMessageFor(model => model.ZipCode)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Phone)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Phone)
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.MobilePhone)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.MobilePhone)
                        @Html.ValidationMessageFor(model => model.MobilePhone)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Website)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Website)
                        @Html.ValidationMessageFor(model => model.Website)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Facebook)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Facebook)
                        @Html.ValidationMessageFor(model => model.Facebook)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Twitter)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Twitter)
                        @Html.ValidationMessageFor(model => model.Twitter)
                    </div>
                </td>
            </tr>
        </table>
        
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    
}
<input id="hidden-birthdate" type="hidden" value="@String.Format("{0:MM/dd/yyyy}", Model.Birthdate)" />
<script type="text/javascript">
    var userid = $("#hidden-userid").attr("userid");
    var birthdate = $("#hidden-birthdate").attr("value");
    $("#UserId").val(userid);
    $("#Birthdate").val(birthdate);    
    
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
