@model JobZoom.Web.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<fieldset>
    <legend>Personal Information - @Html.ActionLink("Edit", "Basic", "ProfileEdit")</legend>
    
    <div class="display-field">@Model.Jobseeker.FirstName @Model.Jobseeker.LastName</div>

    <div class="display-label">Gender @Model.Jobseeker.Gender</div>

    <div class="display-label">Birthdate @String.Format("{0:dd/MM/yyyy}", Model.Jobseeker.Birthdate)</div>

    <div class="display-label">MaritalStatus @Model.Jobseeker.MaritalStatus</div>

    <div class="display-label">Citizenship @Model.Jobseeker.Country.Name</div>    

    <div class="display-label">AddressLine1 @Model.Jobseeker.AddressLine1</div>   

    <div class="display-label">AddressLine2 @Model.Jobseeker.AddressLine2</div>    

    <div class="display-label">CityID @Model.Jobseeker.City.Name</div>    

    <div class="display-label">Phone @Model.Jobseeker.Phone</div>   

    <div class="display-label">Mobile @Model.Jobseeker.Mobile</div>
    
    <div class="display-label">AdditionalInfo</div>
    <div class="display-field">@Model.Jobseeker.AdditionalInfo</div>

    <div class="display-label">Website @Model.Jobseeker.Website</div>        
</fieldset>

<fieldset>
    <legend>Experience - @Html.ActionLink("Add", "AddWorkExperience", "ProfileEdit")</legend>
    @foreach (var experience in Model.WorkExperience)
    {
        <p>@Html.ActionLink("Edit", "UpdateWorkExperience", new { id = experience.ID }) | @Html.ActionLink("Remove", "DeleteWorkExperience", new { id = experience.ID })</p>
        
        <div class="display-field">@experience.Title</div>
        
        <div class="display-field">@experience.Name</div>
        
        <div class="display-field">@experience.Industry </div> 
        
        <div class="display-field">@string.Format("{0:dd/MM/yyyy}", experience.StartDate) - @string.Format("{0:dd/MM/yyyy}", experience.EndDate)</div>
                                                  
        <div class="display-field">@experience.Location</div>               
             
        <div class="display-field">@experience.Description</div>
    }
             
</fieldset>

<fieldset>
    <legend>Education - @Html.ActionLink("Add", "AddEducation", "ProfileEdit")</legend>
    @foreach (var education in Model.Education)
    {
        <p>@Html.ActionLink("Edit", "UpdateEducation", new { id = education.ID } ) | @Html.ActionLink("Remove", "DeleteEducation", new { id = education.ID } )</p>
        
        <div class="display-field">@education.Name</div>
        
        <div class="display-field">@education.Title - @education.Industry </div>              
        
        <div class="display-field">@string.Format("{0:dd/MM/yyyy}", education.StartDate) - @string.Format("{0:dd/MM/yyyy}", education.EndDate)</div>                           
        
        <div class="display-field">@education.Location</div>               
             
        <div class="display-field">@education.Description</div>
    }
             
</fieldset>

<fieldset>
    <legend>Honors and Awards - @Html.ActionLink("Add", "AddHonorAward", "ProfileEdit")</legend>
    @foreach (var honorAward in Model.HonorAward)
    {
        <p>@Html.ActionLink("Edit", "UpdateHonorAward", new { id = honorAward.ID }) | @Html.ActionLink("Remove", "DeleteHonorAward", new { id = honorAward.ID })</p>
        
        <div class="display-field">@honorAward.Title</div>
        
        <div class="display-field">@honorAward.Issuer</div>                      
        
        <div class="display-field">@honorAward.IssueDate | @honorAward.Occupation</div>                                                  
        
        <div class="display-field">@honorAward.Description</div>
    }
             
</fieldset>

<fieldset>
    <legend>Skills - @Html.ActionLink("Add", "AddSkill", "ProfileEdit")</legend>
    @foreach (var skill in Model.Skill)
    {
        <span>@skill.SkillName (@Html.ActionLink("Remove", "DeleteSkill", new { id = skill.ID })) </span> 
    }
             
</fieldset>

<fieldset>
    <legend>Projects - @Html.ActionLink("Add", "AddProject", "ProfileEdit")</legend>
    @foreach (var project in Model.Project)
    {
        <p>@Html.ActionLink("Edit", "UpdateProject", new { id = project.ID }) | @Html.ActionLink("Remove", "DeleteProject", new { id = project.ID })</p>
        
        <div class="display-field">@project.ProjectName</div>
        
        <div class="display-field">@project.ProjectURL</div>                      
        
        <div class="display-field">@project.Occupation</div>                                                  
        
        <div class="display-field">@project.Description</div>
    }
             
</fieldset>