@model IEnumerable<JobZoom.Business.Entities.Profile_Education>

@foreach (var item in Model)
{
    <fieldset>
        <legend>
            @item.SchoolUniversityName <span class="edit-education ButtonLink" profileeducationid="@item.ProfileEducationId">Edit</span>
        </legend>
        <div>@item.Major</div>
        <div>@item.StartDate - @item.EndDate</div>
        <div>@item.Description</div>        
    </fieldset>
}