@model IEnumerable<JobZoom.Business.Entities.Profile_Work>

@foreach (var item in Model)
{                
    <fieldset>
        <legend>@item.CompanyName                                
        </legend>
        @item.JobTitle
        @item.StartDate
        @item.EndDate
        @item.Description
        @item.ProfileWorkId
        <span class="edit-work ButtonLink" profileworkid="@item.ProfileWorkId">Edit</span>
    </fieldset>
}
