@model IEnumerable<JobZoom.Business.Entities.Profile_Work>

@foreach (var item in Model)
{                
    <fieldset>
        <legend>@item.CompanyName <span class="edit-work ButtonLink" profileworkid="@item.ProfileWorkId">Edit</span>                               
        </legend>
        <div>@item.JobTitle</div>
        <div>@item.StartDate - @item.EndDate</div>
        <div>@item.Description</div>        
    </fieldset>
}
