@model IEnumerable<JobZoom.Business.Entities.Profile_Work>

@foreach (var item in Model)
{                
    <fieldset>
        <legend>
            <h3>@item.CompanyName &nbsp; <a style="color:#0066cc"><span class="edit-work ButtonLink" profileworkid="@item.ProfileWorkId">Edit</span></a></h3>
        </legend>
        <div>@item.JobTitle</div>
        <div>@item.StartDate - @item.EndDate</div>
        <div>@item.Description</div>        
    </fieldset>
}
