@model IEnumerable<JobZoom.Business.Entities.Profile_Education>
@foreach (var item in Model)
{
    <fieldset>
        <legend>
            @item.SchoolUniversityName
        </legend>
        <div class="display-field">
            @item.Major
        </div>
        <div class="display-field">
            @item.StartDate - @item.EndDate
        </div>
        <div class="display-field">
            @item.Description
        </div>
        <span class="edit-education ButtonLink" profileeducationid="@item.ProfileEducationId">
            Edit</span>
    </fieldset>
}