@model IEnumerable<JobZoom.Business.Entities.Profile_Education>

@foreach (var item in Model)
{
    <fieldset>
        <legend>
            <h3>@item.SchoolUniversityName 	&nbsp; <a style="color:#0066cc"><span class="edit-education ButtonLink" profileeducationid="@item.ProfileEducationId">Edit</span></a> </h3>
        </legend>
        <div>@item.Major</div>
        <div>@item.StartDate - @item.EndDate</div>
        <div>@item.Description</div>        
    </fieldset>
}