@model JobZoom.Business.Entities.Job_WorkExpRequirement
           
@using (Html.BeginForm("SaveWork", "EmployerEditJob", FormMethod.Post, new { id = "EditWorkExpView" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Job_WorkExpRequirement</legend>

        @Html.HiddenFor(model => model.JobWorkExpRequirementId)

        <div class="editor-label">
            @Html.LabelFor(model => model.JobPostingId)
        </div>
        <div id="test"></div>        
        <div class="editor-field">
            @Html.HiddenFor(model => model.JobPostingId)
            @Html.ValidationMessageFor(model => model.JobPostingId)
        </div>        
        <div class="editor-label">
            @Html.LabelFor(model => model.JobAttributeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JobAttributeName)
            @Html.ValidationMessageFor(model => model.JobAttributeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobAttributeValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JobAttributeValue)
            @Html.ValidationMessageFor(model => model.JobAttributeValue)
        </div>
    </fieldset>
}
<script type="text/javascript">
    $("#JobPostingId").val(workexpid);
</script>