@model IEnumerable<JobZoom.Business.Entities.Profile_Basic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            User
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Gender
        </th>
        <th>
            Birthdate
        </th>
        <th>
            MaritalStatus
        </th>
        <th>
            ProfilePictureUrl
        </th>
        <th>
            AddressLine1
        </th>
        <th>
            AddressLine2
        </th>
        <th>
            Country
        </th>
        <th>
            City
        </th>
        <th>
            ZipCode
        </th>
        <th>
            Phone
        </th>
        <th>
            MobilePhone
        </th>
        <th>
            Website
        </th>
        <th>
            Facebook
        </th>
        <th>
            Twitter
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaritalStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilePictureUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProfileBasicId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProfileBasicId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProfileBasicId })
        </td>
    </tr>
}

</table>
