@model JobZoom.Business.Entities.Profile_Work

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profile_Work</legend>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Email)
    </div>

    <div class="display-label">CompanyId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyId)
    </div>

    <div class="display-label">CompanyName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">JobTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobTitle)
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">CurrentlyWork</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentlyWork)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProfileWorkId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
