@model JobZoom.Web.Models.CandidateViewModel
@{
    ViewBag.Title = "Candidate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function toggle(showHideDiv, switchTextDiv) {
        var ele = document.getElementById(showHideDiv);
        var text = document.getElementById(switchTextDiv);
        if (ele.style.display == "block") {
            ele.style.display = "none";
            text.innerHTML = "View detail results";
        }
        else {
            ele.style.display = "block";
            text.innerHTML = "Collaspe results";
        }
    }
</script>
<h2>Candidate Profile</h2>
<h4 style="color:Red">Match: @Model.MatchPercent %</h4>
<a id="detail" href="javascript:toggle('result','detail');">View detail results</a>
<div id="result" style="margin-left:10px; display:none; ">
    <h3>List attribute match</h3>
    <table style="width:400px">
    <tr>
        <th style="width:200px">
            Attribute
        </th>
        <th>
            Value
        </th>
        <th>
            Match
        </th>        
    </tr>
    @foreach (var item in Model.MatchResult)
    {
        <tr>
            <td>
                @item.TagMatch.TagName 
            </td>
            <td>
                @item.TagMatch.TagValue
            </td>
            <td>
                @if (item.IsMatchAbsolute)
                { 
                    <img src="/Images/apply-icon.png" />
                }
            </td>            
        </tr>
    }
</table>    
</div>
<fieldset style="width: 600px;margin-top:10px">
<div style="margin-left:20px">
    <div style="font-size:medium; font-weight:bold; padding-top:5px">
        @Model.Basic.FirstName @Model.Basic.LastName
    </div>
    <div style="padding-top:5px">
        @Model.Basic.City - @Model.Basic.Country
    </div>
    <div style="padding-top:5px">
        Address: @Model.Basic.AddressLine1
    </div>
    <div style="padding-top:5px">
        Phone: @Model.Basic.Phone
    </div>
    <div style="padding-top:5px">
        Mobile: @Model.Basic.MobilePhone
    </div>
    <div style="padding-top:5px">
        Website: @Model.Basic.Website
    </div>
    <div style="padding-top:5px">
        Facebook: @Model.Basic.Facebook
    </div>
    <div style="padding-top:5px">
        Twitter: @Model.Basic.Twitter
    </div>
</div>
</fieldset>

<h3>Education</h3>
@foreach (var item in Model.Education)
{
    <fieldset>
        <legend>
            @item.SchoolUniversityName
        </legend>
        <div>@item.Major</div>
        <div>@item.StartDate - @item.EndDate</div>
        <div>@item.Description</div>        
    </fieldset>
}

<h3>Work experience</h3>
@foreach (var item in Model.Experience)
{                
    <fieldset>
        <legend>@item.CompanyName                               
        </legend>
        <div>@item.JobTitle</div>
        <div>@item.StartDate - @item.EndDate</div>
        <div>@item.Description</div>        
    </fieldset>
}