<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        @ViewBag.Title
    </title>
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Custom.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/DynamicsPage.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dynFlexiContainer.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dynFooter.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dynHeroNonSL-css-std.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dynSearchControl.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dynShared-css.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/dynSiteHorizontalMenu.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FeatureItem.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/HomeAccordion.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FancySliding.css")">
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/external/jquery.bgiframe-2.1.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.widget.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.mouse.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.draggable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.position.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui/jquery.ui.resizable.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/ui/jquery.ui.dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/ui/jquery.ui.datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/sliding.form.js")" type="text/javascript"></script>
</head>
<body>
    <div id="pageWrapper">
        <div id="page">
            <div id="shell">
                <div id="header">
                    <div id="siteLogo">
                        <div class="fit_TitleImgLeftContentRight2cueLogoType">
                            <div class="fit_content fit_cf">
                                <div class="fit_img">
<a href="../" style="color:White; text-decoration:none; font-size:28px; font-weight:normal;">
                                        Job Zoom
                                    </a>
                                </div>
                                <div class="fit_description">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="siteMeta">
                        <div id="logindisplay">
                            @Html.Partial("_LogOnPartial")
                        </div>
                        <!-- SEARCH -->
                        <div id="siteSearch">
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <div id="siteNav">
                        <div id="CuedynSiteHorizontalMenuContainer">
                            <div id="ctl00_SiteHorizontalMenu1_divResultarea">
                                <div id="siteNav_bg">
                                    <div id="siteNav_Main">
                                        <ul class="nav_main" id="nav_main">
                                            <li class="firstNavItem">
                                                @Html.ActionLink("Home", "Index", "Home")
                                            </li>
                                            <li>@Html.ActionLink("Profile", "Home", "Profile")</li>
                                            <li>@Html.ActionLink("Job", "Index", "JobPosting")</li>
                                            <li>@Html.ActionLink("Employer", "Index", "EmployerJob")</li>
                                        </ul>
                                    </div>
                                    <div id="siteNav_Subnav">
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contentWrapper" class="layoutHomepage">
                <div id="content">
                    <div class="clear">
                    </div>
                    <div id="contentMain">
                        <div class="dynFlexiLay_lay_full ">
                            <div class="dynFlexiCol  dynFlexiLay_generic ">
                                @RenderBody()
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="dynFooter">
                    <div class="dynFooter-links">
                    </div>
                    <div>
                        &copy; 2011 Job Zoom Framework
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
