@model JobZoom.Business.Entities.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Company</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Industry</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Industry)
    </div>

    <div class="display-label">CompanySize</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanySize)
    </div>

    <div class="display-label">AddressLine1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine1)
    </div>

    <div class="display-label">AddressLine2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine2)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">MobilePhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilePhone)
    </div>

    <div class="display-label">Fax</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">Website</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Website)
    </div>

    <div class="display-label">Faceboook</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Faceboook)
    </div>

    <div class="display-label">Twitter</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Twitter)
    </div>

    <div class="display-label">Linkedin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Linkedin)
    </div>

    <div class="display-label">Logo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logo)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
