@model JobZoom.Business.Entities.Job_Posting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Job_Posting</legend>

    <div class="display-label">UserId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">CompanyId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyId)
    </div>

    <div class="display-label">CompanyName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>

    <div class="display-label">JobTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobTitle)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.JobPostingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
